* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/elves.jpg);
    background-size: cover;
    background-color: #239623;
    width: 100vw;
    font-family: cursive;
}

footer {
    color: white;
}

#muteHolder {
    position: absolute;
    left: 10%;
    top: 10%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    z-index: 200;
}

#muteBut {
    background-color: rgba(35, 150, 35, 0.2);
    padding: 0.5rem;
    border-radius: 50%;
    border: unset;
}

#title{
    height: 50px;
    text-align: center;
    margin: 1rem auto;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
}

h1 {
    background-color: #239623;
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px;
    margin: 1rem auto;
}

#sum-holder {
    height: 60px;
    width: 60%;
    border: 2px solid black;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem auto;
    font-size: x-large;
    background-color: #239623;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px
}

#answer-holder {
    margin: 1rem auto;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;

}

.ans {
    color: #cbfacb;
    padding: 0 50px;
    width: 100px;
    height: 140px;
    margin: 1rem;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px 4px;
    background-image: url(images/elf.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: purple;
    font-size: larger;
    cursor: pointer;
}
/* 
.ans:hover {
    /* scale: 1,1; */
    /* box-shadow: 5px;
    background-color: antiquewhite;
} */

#img-holder {
    margin: 0 auto;
    width: 100vw;
}

.row {
    /* border: 2px solid white; */
    height: 200px;
    width: 100vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    position: relative;
}
/* 
.s1{
    background: rgba(0, 0, 0, 0.7) url('images/actual/bath1.jpg') no-repeat center / 80%;
} */

.s1{
    background: url('images/actual/bath1.jpg') no-repeat center / 80%;
}

.s2 {
    background: url('images/actual/bath2.jpg') no-repeat center / 80%;
}

.s3 {
    background: url('images/actual/bath3.jpg') no-repeat center / 80%;
}

.s4 {
    background: url('images/actual/fire1.jpg') no-repeat center / 80%;
}

.s5 {
    background: url('images/actual/fire2.jpg') no-repeat center / 80%;
}

.s6 {
    background: url('images/actual/fire3.jpg') no-repeat center / 80%;
}

.s7 {
    background: url('images/actual/shoe1.jpg') no-repeat center / 80%;
}

.s8 {
    background: url('images/actual/shoe2.jpg') no-repeat center / 80%;
}

.s9 {
    background: url('images/actual/shoe3.jpg') no-repeat center / 80%;
}

.col {
    /* border: 2px solid white; */
    /* background-color: rgba(250, 235, 215, 0.1); */
    height: 200px;
    width: 33%;
    display: inline-block;
}

.correct {
    background-color: red;
    transform: scale(1.2, 1.2);
    /* background-image: url(images/elf.png); */
    -webkit-transition: background-color 0.7s ease-in-out;
    transition: background-color 0.7s ease-in-out;
    /* transition: 0.7s; */
}

/* not used */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 100;
    color: black;
}

.hidden {
    background-size: 0 0;
}

.reveal {
    /* background: rgba(0, 0, 0, 0.7) url('images/img0.jpg') no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-animation: myfirst 4s ; /* Chrome, Safari, Opera */
    animation: myfirst 4s ;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst {
    from {opacity: 0.0;}
    to {opacity: 1;}
  }

  /* Standard syntax */
  @keyframes myfirst {
    from {opacity: 0.0;}
    to {opacity: 1;}
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

